body{
   font-family: 'Lexend Deca', sans-serif;
}
body::-webkit-scrollbar, .scroll::-webkit-scrollbar{
   width: .5rem;
   position: absolute;
   border: 1px solid #d4d4d400;
   background: #d5d5d500;
}
body::-webkit-scrollbar-thumb, .scroll::-webkit-scrollbar-thumb{
   background-color: teal;
   border-radius: 100px;
   padding-left: 5px;
   padding-right: 5px;
}
.circles{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.circles li{
   position: absolute;
   display: block;
   list-style: none;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   filter: blur(100px);
   opacity: .5;
   z-index: 0;
   animation: animate 10s linear infinite;
   bottom: -150px;
   
}

.circles li:nth-child(1){
   left: 0%;
   top: 10%;
   width: 200px;
   height: 200px;
   background: green;
   animation-delay: 10s;
}

.circles li:nth-child(2){
   right: 0%;
   width: 400px;
   height: 400px;
   background: rgba(255, 185, 54, 0.952);
   animation-delay: 0s;
   animation-duration: 18s;
}

@keyframes animate {

   0%{
      transform: translate(0px, 0px);
   }

   50%{
      transform: translate(120px, 120px);
   }

   100%{
      transform: translate(0px, 0px);
   }

}

@tailwindcss base;
@tailwindcss compoments;
@tailwindcss utilities;